<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.usinasantafe.ppa">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".PPAContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".BTPesagemActivity"></activity>
        <activity android:name=".ListaBalancaBTActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MsgPesagemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComentFalhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DigOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DigItemNFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DigNotaFiscalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DigPlacaVeicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DigPesagemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuPesagemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaItemNFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaNotaFiscalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaPlacaVeicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SenhaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MenuInicialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmClass" />
    </application>

</manifest>